* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  font-family: 'Tiro Devanagari Marathi', serif;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

}

.logo img {
  height: 70px;
}

.nav a {
  color: #000000;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}



.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: orange;
  transition: width 0.3s ease;
}

.nav a:hover {
  color: orange;
}

/* .nav a:hover::after {
  width: 100%;
} */




/* Content */
.content {
  padding: 80px 20px 80px; /* header + footer space */
  min-height: 500vh;
}

h1{
  font-family: 'Tiro Devanagari Marathi', serif;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.text {
  max-width: 420px;
}

.text h2 {
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  font-family: 'Tiro Devanagari Marathi', serif;
  font-weight: 500;
}

.text p {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  opacity: 0.9;
}




/* content text */

.home-intro {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.home-intro h1 {
  font-size: 32px;
  margin-top: 100px;
}

.home-intro p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}





/* main content product */
.product {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 100px 0;
  opacity: 0;
  transition: all 1s ease;
  padding: 60px 0;
  margin-top: 50;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.05);

}
.kbtn {
  display: inline-block;
  margin-top: 14px;
  padding: 10px 18px;
  background: #ff5921;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.kbtn:hover {
  background: #000000;
  transform: translateY(-2px);
}

.product img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.4s ease;
}

.product img:hover {
  transform: scale(1.03);
}



/* Initial positions */
.product.right {
  transform: translateX(-120px);   /* right → center */
}

.product.left {
  flex-direction: row-reverse;
  transform: translateX(120px);   /* right → left position */
}

/* When visible */
.product.show {
  opacity: 1;
  transform: translateX(0);
}

/* Tablet */
@media (max-width: 992px) {
  .product img {
    width: 260px;
  }
  
}

@media (max-width: 768px) {
  .home-intro h1 {
    font-size: 15px;
  }
}


@media (max-width: 992px) {
  .text {
    max-width: 100%;
  }

  .text h2 {
    font-size: 24px;
    
  }

  .text p {
    font-size: 15px;
  }
}


/* Mobile */
/* @media (max-width: 768px) {
  .product,
  .product.left {
    flex-direction: column;
    transform: translateY(60px);
    
  }
  
} */

@media (max-width: 768px) {
  .home-intro h1 {
    font-size: 25px;
    font-family: 'Tiro Devanagari Marathi', serif;
    letter-spacing: 0.5px;
    font-weight: 500;

    margin-top: 50px;
  }
}



  @media (max-width: 768px) {
  .product {
    /* margin-bottom: 30px; */

    gap: 10px;
    padding: 25px 0;
  }
  .product.left{
    margin-bottom: 50px;
  }

  .product.right{
    margin-bottom: 00px;
  }

}

.content {
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f8f8f8 50%,
    #efefef 100%
  );
  }


@media (max-width: 768px) {
  .text {
    padding: 0 10px;
  }

  .text h2 {
    font-size: 22px;
    margin-top: -50;
  }

  .text p {
    font-size: 14px;
    line-height: 1.5;
  }
}


@media (max-width: 768px) {
  .product {
    flex-direction: column;
    text-align: center;
  }

  .product.left {
    flex-direction: column;
  }

  .product img {
    width: 90%;
    max-width: 360px;
  }
}




/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .nav a {
    margin-left: 5px;
    font-size: 10px;
  }

  .header {
    padding: 0 10px;
  }
}
